<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AplicacionComercialClase.Properties.Settings.AplicacionComercialConnectionString"
            connectionString="Data Source=.;Initial Catalog=AplicacionComercial;Persist Security Info=True;User ID=sa;Password=Televisor123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>